{% extends "layout/basic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Обновить изображение {% endblock %}

    {% block header %} Обновить изображение {% endblock %}


    {% block content %}
    <p><a href="{% url 'account' %}"> Вернуться в личный кабинет </a></p>

            <form method="post" id='img_form' name="testimg" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Загрузить" />
            </form>
            <div id="result"></div>

    {% endblock %}
