{% extends "layout/basic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Загрузка {% endblock %}

    {% block header %} Загрузка {% endblock %}

    {% block content %}

            <form method="post" id='img_form' name="testimg" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Загрузить" />
            </form>
            <div id="result"></div>

        <script type="text/javascript">
             $("#img_form").submit(function(e){
              e.preventDefault();
              imgUpload();
             });

			function imgUpload() {
			    var full_form = document.forms.testimg

				var form_data = new FormData(full_form);

				$.ajax({
                    url : "http://imgloader.mergeland.me/",
                    type: "POST",
                    data : form_data,
                    processData: false,
                    contentType: false,
                    success:function(data){
                        $('#result').html(data);
                        full_form.reset();


                    }
                });


			}

        </script>

    {% endblock %}
